{% extends "base.html" %}

{% block content %}

<table class="table">
  <thead>
    <th>Visit</th>
    <th>Length (minutes)</th>
    <th>Status</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% for visit in visits %}

    {% if visit.is_completed %}<tr class="table-dark">
    {% elif visit.is_scheduled %}<tr class="table-success">
    {% else %}<tr>
    {% endif %}

      <td>{{ visit.when }}</td>
      <td>{{ visit.minutes }}</td>
      <td>
        <div>{{ visit.str_state | capfirst }}</div>
        {% if visit.str_state == "unscheduled" %}
        <em><small>Finding an available Pal to visit you</small></em>
        {% endif %}
      </td>
      <td>
        {% if not visit.is_completed %}
        <form method="post" action="">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Cancel</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
