{% extends "base.html" %}

{% block content %}

{% if visits|length == 0 %}
<p>
  You do not have any visits scheduled.
  You can <a href="{% url 'request-visit' %}">request a new visit here</a>.
</p>
{% else %}
<table class="table">
  <thead>
    <th>Visit</th>
    <th>Length (minutes)</th>
    <th>Summary</th>
    <th>Status</th>
    <th>Actions</th>
  </thead>
  <tbody>
    {% for visit, form in visits %}

    {% if visit.is_completed %}
    <tr class="table-dark">
    {% elif visit.is_scheduled %}
    <tr class="table-success">
    {% else %}
    <tr>
    {% endif %}

      <td>{{ visit.when }}</td>
      <td>{{ visit.minutes }}</td>
      <td>{{ visit.tasks | linebreaksbr }}</td>
      <td>
        <div>{{ visit.str_state | capfirst }}</div>
        {% if visit.str_state == "unscheduled" %}
        <em><small>Finding an available Pal to visit you</small></em>
        {% endif %}
      </td>
      <td>
        {% if not visit.is_completed %}
        <form method="post" action="{% url 'cancel-visit' %}">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-danger">Cancel</button>
        </form>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
