{% extends "base.html" %}

{% block content %}

{% load humanize %}
{% load crispy_forms_tags %}

<h4>Request a visit from a Pal</h4>

<p>You have <strong>{{ request.user.member.current_minutes_available | intcomma }}</strong> minutes available to request visits.

<form action="{% url 'request-visit' %}" method="post">
  {% csrf_token %}
  {{ form | crispy }}
  <button type="submit" class="btn btn-success">Request visit</button>
</form>

{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <p>{{ error }}</p>
    {% endfor %}
  {% endfor %}
{% endif %}

{% endblock %}
